.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.container {
    display: inline-block;
}

.xpath-cell {
    display: inline;
}

.graph-cell {
    display: inline;
}

.legend-cell {
    
}

.xpath-input {
    width: 100%;
}

.input-cell {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.caption {
    font-family: sans-serif;
}

.example-section {
    margin-top: 15px;
}

.svg-tree {
    border: 1px solid grey;
}

.svg-graph {
    border: 1px solid grey;
}